
ProiectDAW/ProiectDAW/bin/Debug/netcoreapp2.0/ProiectDAW.deps.json
ProiectDAW/ProiectDAW/bin/Debug/netcoreapp2.0/ProiectDAW.dll
ProiectDAW/ProiectDAW/bin/Debug/netcoreapp2.0/ProiectDAW.pdb
ProiectDAW/ProiectDAW/bin/Debug/netcoreapp2.0/ProiectDAW.runtimeconfig.dev.json
ProiectDAW/ProiectDAW/bin/Debug/netcoreapp2.0/ProiectDAW.runtimeconfig.json
ProiectDAW/ProiectDAW/obj/Debug/netcoreapp2.0/ProiectDAW.AssemblyInfo.cs
ProiectDAW/ProiectDAW/obj/Debug/netcoreapp2.0/ProiectDAW.AssemblyInfoInputs.cache
ProiectDAW/ProiectDAW/obj/Debug/netcoreapp2.0/ProiectDAW.csproj.CoreCompileInputs.cache
ProiectDAW/ProiectDaw/obj/Debug/netcoreapp2.0/ProiectDAW.csproj.FileListAbsolute.txt
ProiectDAW/ProiectDAW/obj/Debug/netcoreapp2.0/ProiectDAW.csprojResolveAssemblyReference.cache
ProiectDAW/ProiectDAW/obj/Debug/netcoreapp2.0/ProiectDAW.dll
ProiectDAW/ProiectDAW/obj/Debug/netcoreapp2.0/ProiectDAW.pdb
*.cache
ProiectDAW/ProiectDaw/obj/ProiectDAW.csproj.nuget.g.props
ProiectDAW/ProiectDaw/obj/ProiectDAW.csproj.nuget.cache
ProiectDAW/ProiectDaw/obj/ProiectDAW.csproj.nuget.g.targets
*.json
ProiectDAW/ProiectDAW/obj/Release/netcoreapp2.0/ProiectDAW.AssemblyInfo.cs
.vs/slnx.sqlite
.vs/daw/v15/.suo
ProiectDAW/.vs/ProiectDAW/v15/.suo
ProiectDAW/.vs/ProiectDAW/v15/Server/sqlite3/db.lock
ProiectDAW/.vs/ProiectDAW/v15/Server/sqlite3/storage.ide
ProiectDAW/.vs/ProiectDAW/v15/Server/sqlite3/storage.ide-shm
ProiectDAW/.vs/ProiectDAW/v15/Server/sqlite3/storage.ide-wal
*.config
